body {
  font-family: "Nunito", sans-serif;
}

.min-h-85 {
  height: 85vh;
  @media all and (max-width: 768px) {
    height: 100vh;
  }
}
.w-22 {
  width: 5.5rem;
}

.bottom-design {
  z-index: 0;
}

.top-circle-o {
  @media all and (min-width: 768px) {
    width: 290px;
    height: 580px;
    border-radius: 580px 0 0px 580px;
  }
}
.top-circle-i {
  @media all and (min-width: 768px) {
    width: 180px;
    height: 360px;
    border-radius: 360px 0 0px 360px;
  }
}

// Loader

.loading {
  .three {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid transparent 10px;
    border-top: solid #333 10px;
    border-left: solid #333 10px;
    animation: loader3Animation 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }

  .three:before {
    position: absolute;
    top: 20px;
    left: 20px;
    content: "";
    width: 40px;
    height: 40px;
    border: solid transparent 10px;
    border-top: solid #333 10px;
    border-left: solid #333 10px;
    border-radius: 50%;
    animation: loader3AnimationBefore 1.5s linear infinite;
  }

  .three:after {
    position: absolute;
    top: 5px;
    left: 5px;
    content: "";
    width: 70px;
    height: 70px;
    border: solid transparent 10px;
    border-top: solid #333 10px;
    border-left: solid #333 10px;
    border-radius: 50%;
    animation: loader3AnimationAfter 1.5s linear infinite;
  }

  @keyframes loader3Animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes loader3AnimationBefore {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes loader3AnimationAfter {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}
